.Profile {
    border: 1px solid red;

    &-main {
        
        &-container {

            border: 1px solid blue;
            padding: 1rem; // REMOVE PADDING AFTER

            &-post {

                border: 1px solid green;
                padding: 1rem; // REMOVE PADDING AFTER

            }
        }
    }

}