.post-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.homepage {
   
    
        .scroll-container {
                width: 400vh;
                overflow-y: scroll;
                scroll-behavior: smooth;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .scroll-page div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 75%;
                        padding: 0 17rem;

                        
                            

                .scroll-page {
                    
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 60%;
                        font-size: 5em;
                        margin: 10% 0;                     

                       
                    }
            }
    }

}
