.Leftbar{
    width: 100px;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);

        hr {
                margin: 20px 0px;
                border: none;
                height: 0.5px;
                background-color: lightgray;
            }
    .container{
        padding: 20px;
    grid-area: menu;
        .menu{

            display: flex;
            flex-direction: column;
            gap: 40px;

            .user{

                display: flex;
                align-items: center;
                gap: 5px;
                img{

                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                    gap:10px;

                }
                
                span{
                    font-size: 14px;  
                }
            }

            .item{
                display: flex;
                align-items: center;
                gap: 5px;
                img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    gap: 10px;
                }

                span{
                    font-size: 12px;
                }
            }
        }
    }
}